
@{
    ViewData["Title"] = "Index";
}

<div class="alert alert-info">

    <div class="row">
        <div class="col-md-4">
            <h3>Mantenimiento de Cliente</h3>
        </div>
        <div class="col-md-2">
            <button id="btnAgregarCliente" class="btn btn-success">Agregar</button>
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Reporte en CSV", "ReporteCSV")
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Reporte en XLS", "ReporteXLS")
        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalRegistroCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo">Registro de Clientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombres</label>
                                <input type="text" class="form-control" id="txtNombres" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input type="text" class="form-control" id="txtApellidos" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>País</label>
                                <input type="text" class="form-control" id="txtPais" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ciudad</label>
                                <input type="text" class="form-control" id="txtCiudad" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input type="text" class="form-control" id="txtTelefono" />
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="hidIDCliente" value="-1">
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGrabarCliente">Grabar</button>
            </div>
        </div>
    </div>
</div>


<input type="text" id="txtBCity" />
<button id="btnBuscar">BUSCAR</button>
<hr />


<div id="divListadoClientes">

</div>


<script type="text/javascript">

    $("#btnBuscar").click(function () {


        var vCity = $("#txtBCity").val();

        $.ajax({
            type: "POST",
            url: "/Customer/ListadoBusqueda",
            cache: false,
            data: {
                city: vCity
            },
            success: function (exito) {
                $("#divListadoClientes").html(exito);
            }
        });
    });
    CargarListadoCliente();

    function CargarListadoCliente() {
        $.ajax({
            type: "GET",
            url: "/Customer/Listado",
            cache: false,
            success: function (dataHtml) {
                $("#divListadoClientes").html(dataHtml);
            }
        });
    }

    $("#divListadoClientes").on('click', '.btnEditarCliente', function () {
        var vIdCliente = $(this).attr('data-id');
        $("#hidIDCliente").val(vIdCliente);
        var modalRegistro = $("#modalRegistroCliente");

        $.ajax({
            type: "GET",
            url: "/Customer/Obtener",
            data: { idCliente: vIdCliente },
            cache: false,
            success: function (objCliente) {
                //console.log(objCliente);
                //alert(objCliente);
                $("#hidIDCliente").val(objCliente.id);
                $("#txtNombres").val(objCliente.firstName);
                $("#txtApellidos").val(objCliente.lastName);
                $("#txtPais").val(objCliente.country);
                $("#txtCiudad").val(objCliente.city);
                $("#txtTelefono").val(objCliente.phone);

                modalRegistro.modal();
                modalRegistro.find("#titulo").html("Editar Cliente");
            }
        });



    });

    $("#divListadoClientes").on('click', '.btnEliminarCliente', function () {
        var vIdCliente = $(this).attr('data-id');
        var vNomCliente = $(this).attr('data-nomcli');


        if (confirm("¿Estás seguro de eliminar al cliente: " + vNomCliente + " ?")) {
            $.ajax({
                type: "POST",
                url: "/Customer/Eliminar",
                data: { idCliente: vIdCliente },
                cache: false,
                success: function (exito) {
                    if (exito) {
                        CargarListadoCliente();
                    } else {
                        alert("Ocurrió un error al realizar la eliminación");
                    }
                }
            });



        }


    });

    $("#btnAgregarCliente").click(function () {
        $("#hidIDCliente").val("-1");
        $("#txtNombres").val("");
        $("#txtApellidos").val("");
        $("#txtPais").val("");
        $("#txtCiudad").val("");
        $("#txtTelefono").val("");

        $("#modalRegistroCliente").modal();
    });

    $("#btnGrabarCliente").click(function () {

        var vIDCliente = $("#hidIDCliente").val();
        var vNombres = $("#txtNombres").val();
        var vApellidos = $("#txtApellidos").val();
        var vPais = $("#txtPais").val();
        var vCiudad = $("#txtCiudad").val();
        var vTelefono = $("#txtTelefono").val();

        $.ajax({
            type: "POST",
            url: "/Customer/Grabar",
            cache: false,
            data: {
                idCliente: vIDCliente,
                nombres: vNombres,
                apellidos: vApellidos,
                pais: vPais,
                ciudad: vCiudad,
                telefono: vTelefono
            },
            success: function (exito) {
                if (exito) {
                    alert("Se registró correctamente");
                    CargarListadoCliente();
                    $("#modalRegistroCliente").modal("toggle");
                } else {
                    alert("Ocurrió un error en la transacción.");
                }
            }
        });




    });






</script>


